<p>nire-osagaia works!</p>
10 + 20 = {{10 + 20}}
<div>
    <h2>{{ getTitle() }} </h2>
    <!--<input [(ngModel)]="langilea.izena">
    <input [(ngModel)]="langilea.abizena">
     <div>
    Izena: {{langilea.izena}}
    </div>
    <div>
    Abizena: {{langilea.abizena}}
    </div>
    <div>
    Generoa: {{langilea.generoa}}
    </div>

    <div>
        <img [src]="langilea.irudia">
        <img src="{{langilea.irudia}}">
    </div>
-->
<table>
    <tbody>
    <tr *ngFor="let langilea of langileak">
    <td>{{langilea.izena}}</td>
    <td>{{langilea.abizena}}</td>
    <td>{{langilea.generoa}}</td>
    <td>{{langilea.soldata}}</td>
    <td>{{langilea.likes}}</td>
    <td><input type="button" value="Like" (click)="gehituLikes(langilea)" /> </td>
    <td><input type="button" value="Kontaktatu" [disabled]="!langilea.lanean" /></td>
    
    </tr>
    </tbody>
    </table>